<!--<ion-header-bar class="bar-dark detailpage">
	<h2 class="title">Car Detail</h2>
</ion-header-bar>-->
<ion-view view-title="Vehicle Detail">
	<ion-nav-buttons side="secondary">
	    <button class="button button-icon ion-star"
	        ng-click="data.showRecord = !data.showRecord;">
	    </button>
	</ion-nav-buttons>

	<ion-content class="detailpage">
		<div ng-repeat='item in carbrandlist | filter:  {Brand: whichbrand}'>
		    <div class="item item-divider" id="brandName">
		    	<h2><i class="icon ion-model-s padding-right"></i>{{item.Brand}}</h2>
		    </div><!-- Brand Name -->

		    <ion-list show-reorder="data.showRecorder">
		      <ion-item ng-class="{'star': cars.star}"
		      	ng-repeat="cars in item.Models| filter: {ModelIndex: whichcar}" href="#">

		        <div class="item-text-wrap" style=" position: relative;" id="carDetail">
		          <img ng-src="img/{{cars.Model}}.png"
           fallback-src="img/car_holder.png" 
           alt="{{cars.Model}} Photo">
					<h2 style="font-size: 26px">{{cars.Brand + " " + cars.Model}}</h2>
					<h3>{{cars.category}}</h3>
					<p> {{cars.Intro | limitTo: 100}}
					<span ng-if="cars.Intro.length > 100"> &hellip;</span>
					</p>
					<h3 class="padding-top padding-left">
							<i class="icon ion-wrench"></i>
					    Dependability</h3>
					<div class="row responsive-sm">
						<div class="col">
						  <strong>Overall</strong>  
						  <span class="item-note">{{cars.overall}}</span>
						</div>
						<div class="col">
						  Powertrain
						  <span class="item-note">{{cars.powertrain}}</span>
						</div>
						<div class="col">
						  Body & Interior
						  <span class="item-note">{{cars.bodyAinterior}}</span>
						</div>
						<div class="col">
						  Feature & Accessory
						  <span class="item-note">{{cars.featureAaccessory}}</span>
						</div>
					</div>

					<button class="button button-clear icon ion-star button-energized"
					ng-click = "toggleStar(cars)"
					ng-show = "cars.star"></button>
					
					<ion-option-button class="button-dark"
					  ng-click = "toggleStar(cars)">
					<i class="icon ion-star"></i>
					</ion-option-button>
					
					<ion-reorder-button class="ion-star"
					on-reorder="toggleStar(cars)">
					</ion-reorder-button>
		        </div>
		      </ion-item> 
		      <ion-item class="dataReference item-divider">
		        <p>Data from J.D.Power's </p>
		        <p><a href="http://www.jdpower.com/cars/ratings-and-awards">Vehicle Dependability Study(2015)</a></p>
		      </ion-item>
		    </ion-list>
	    </div><!-- ng-repeat -->
		<!-- <ion-list class="list-inset">
			<ion-item class="item-text-wrap" ng-repeat="item in carbrandlist | filter: {ModelIndex: whichcar}">
			{{ filter_expression | filter : expression : comparator}}
				<div class="listdetail">
					 <img ng-src="img/{{item.Model}}.png"
           fallback-src="img/car_holder.png" 
           alt="{{item.Model}} Photo">
			        <h2 style="font-size: 26px">{{item.Brand + " " + item.Model}}</h2>
			        <h2>{{item.category}}</h2>
			        <p>{{item.Intro}}</p>
			        <h2 class="padding-top padding-left">
				  		<i class="icon ion-wrench"></i>
				        Dependability</h2>
					<div class="row responsive-sm">
						<div class="col">
						  <strong>Overall</strong>  
						  <span class="item-note">{{item.overall}}</span>
						</div>
						<div class="col">
						  Powertrain
						  <span class="item-note">{{item.powertrain}}</span>
						</div>
						<div class="col">
						  Body & Interior
						  <span class="item-note">{{item.bodyAinterior}}</span>
						</div>
						<div class="col">
						  Feature & Accessory
						  <span class="item-note">{{item.featureAaccessory}}</span>
						</div>
					</div>
				</div>
			</ion-item>
		</ion-list>
		-->
	</ion-content>
</ion-view>