<!-- <ion-pane ng-controller="ListController"> -->
<!-- <ion-header-bar class="bar-dark"> -->
<ion-view view-title="Auto Brand List">
  <ion-nav-buttons side="primary">
    <button class="button button-icon ion-funnel"
            ng-click="data.showDelete = !data.showDelete; 
            data.showRecorder = false;">
    </button>
  </ion-nav-buttons>
  <!-- <h2 class="title">J.D.Power 2015 Vehicle Dependability</h2> -->
  <ion-nav-buttons side="secondary">
  <button class="button button-icon ion-navicon"
          ng-click="data.showRecorder = !data.showRecorder; 
          data.showDelete = false;">
  </button>
  </ion-nav-buttons>

  <div ng-show="data.showDelete" class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>

  <ion-content ng-class="{'has-subheader': data.onFilter}" 
  	id = "brandList"> 
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list show-delete="data.showDelete" show-reorder="data.showRecorder">
      <ion-item ng-class="{'star': item.star}"
        ng-repeat='(itemIndex, item) in carbrandlist | filter: query'
        href="#/tab/brandlist/{{item.Brand}}">

        <div class="item-thumbnail-left item-icon-right item-text-wrap" style=" position: relative;">
          <img ng-src="img/brandicon/{{item.Brand}}_i.png"
             fallback-src="img/car_holder.png" 
             alt="{{item.Model}} Photo">
          <h2 style="font-size: 26px">{{item.Brand}}</h2>
          <h3>{{item.Models.length}} Models</h3>

          <button class="button button-clear icon ion-star button-energized"
            ng-click = "toggleStar(item)"
            ng-show = "item.star"></button>
          <ion-option-button class="button-dark"
              ng-click = "toggleStar(item)">
            <i class="icon ion-star"></i>
          </ion-option-button>
        </div>

        <ion-reorder-button class="ion-navicon"
          on-reorder="moveItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item> 
      <ion-item class="dataReference item-divider">
        <p>Data from J.D.Power's </p>
        <p><a href="http://www.jdpower.com/cars/ratings-and-awards">Vehicle Dependability Study(2015)</a></p>
      </ion-item>
    </ion-list>   
  </ion-content>
</ion-view>

<!-- </ion-pane> -->
