<!-- <ion-pane ng-controller="ListController"> -->
<!-- <ion-header-bar class="bar-dark"> -->
<ion-view view-title="Vehicle Dependability List">
  <ion-nav-buttons side="primary">
    <button class="button button-icon ion-android-close"
            ng-click="data.showDelete = !data.showDelete; 
            data.showRecorder = false;">
    </button>
  </ion-nav-buttons>
  <!-- <h2 class="title">J.D.Power 2015 Vehicle Dependability</h2> -->
  <ion-nav-buttons side="secondary">
  <button class="button button-icon ion-navicon"
          ng-click="data.showRecorder = !data.showRecorder; 
          data.showDelete = false;">
  </button>
  </ion-nav-buttons>

  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="query" placeholder="Search">
    </label>
  </div>

  <ion-content class="has-subheader"> 
    <ion-refresher on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list show-delete="data.showDelete" show-reorder="data.showRecorder">
      <ion-item ng-class="{'star': item.star}" id="autolist" 
        ng-repeat='item in cardeplists | filter: query'
        href="#/tab/list/{{item.Model}}">
        <div class="item-thumbnail-left item-icon-right item-text-wrap" style=" position: relative;">
          <img ng-src="img/{{item.Model}}.png"
             fallback-src="img/car_holder.png" 
             alt="{{item.Model}} Photo">
          <h2 style="font-size: 26px">{{item.Brand + " " + item.Model}}</h2>
          <h3>{{item.category}}</h3>
          <p>{{item.Intro | limitTo: 100}}
            <span ng-if="item.Intro.length > 100"> &hellip;</span>
          </p>
          <button class="button button-clear icon ion-star button-energized"
            ng-click = "toggleStar(item)"
            ng-show = "item.star"></button>
          <ion-option-button class="button-dark"
              ng-click = "toggleStar(item)">
            <i class="icon ion-star"></i>
          </ion-option-button>
        </div>

        <ion-delete-button class="ion-minus-circled"
          ng-click="deleteItem(item)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
          on-reorder="moveItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>
        <!-- ion-reorder: http://ionicframework.com/docs/api/directive/ionList/ -->
  <!--           </ion-item>
      <ion-item> -->
        <h3 class="padding-top padding-left">
          <i class="icon ion-wrench"></i>
          Dependability</h3>
        <div class="row">
          <div class="col col-40">
            <strong>Overall</strong>  
            <span class="item-note">{{item.overall}}</span>
          </div>
          <div class="col col-60">
            Powertrain
            <span class="item-note">{{item.powertrain}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col col-40">
            Body & Interior
            <span class="item-note">{{item.bodyAinterior}}</span>
          </div>
          <div class="col col-60">
            Feature & Accessory
            <span class="item-note">{{item.featureAaccessory}}</span>
          </div>
        </div>
      </ion-item> 
      <ion-item class="">
        <p>Data from J.D.Power's </p>
        <p><a href="http://www.jdpower.com/cars/ratings-and-awards">Vehicle Dependability Study(2015)</a></p>
      </ion-item>
    </ion-list>   
  </ion-content>
</ion-view>

<!-- </ion-pane> -->
