<ion-tabs class="tabs-icon-top tabs-dark">
	<ion-tab title="AutoHome" icon="ion-home" href="#/tab/home">
		<ion-nav-view name="home-tabs"> 
		</ion-nav-view>
	</ion-tab>

	<ion-tab title="AutoLists" icon="ion-model-s" href="#/tab/list">
		<ion-nav-view name="list-tabs"> 
		</ion-nav-view>
	</ion-tab>
	<!-- 在$stateProvider.state('tabs.list'，{...})中声明 -->

	<ion-tab title="Calendar" icon="ion-calendar" href="#/tab/calendar">
		<ion-nav-view name="calendar-tabs"> 
		</ion-nav-view>
	</ion-tab>
</ion-tabs>