/* Empty. Add your own CSS if you like */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600italic,600|Lato:400,700,300italic,300|Raleway:400,700,600);

body{
	cursor: url('http://ionicframework.com/img/finger.png');
}
.item-divider{
	background-color: #FCF4EE;
}
.bar-dark, .tabs-dark>.tabs{
}

.item h3{
	font-size: 1.2em;
	font-weight: bold;
	color: #FC7C7E;
	font-family: "Lato",sans-serif;
}

.dataReference{
	text-align: center;
}
.dataReference p{
	font-size: .8em;
}
/*AutoHome Page*/

.homepage .splash {
	background: url(../img/CarRank_bg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.homepage .branding{
	font-family: 'Lato', 'Open Sans', sans-serif;
	width: 50%;
	max-width: 320px;
	min-width: 280px;
	margin: 0 auto;
	margin-top: 100px;
	text-align: center;
	line-height: 2.2em;
}
.homepage .tagline{
	font-size: 1.6em;
	color: white;
	margin-top: 10px;
}
.homepage .title{
	font-size: 2em;
	color: white;
	margin-top: 6px;
}

/*autolist page*/
#brandList .item-content{
  position: relative;
  z-index: 2;
  padding: 16px 16px 16px 16px;
  border: none;
  background-color: #fff; 
}
#brandList .item-icon-right {
    padding-right: 18px;
}
.star .item-content{
	background: #FCF4EE !important;
}

#modelList .item .item-content{
	padding-right: 12px; 
}
#modelList .item#brandTitle{
	border-bottom: 4px solid #FC7C7E;
}
#modelList .item#brandTitle img{
	float: left;
	max-width: 30%;
}
#modelList .item#brandTitle h2{
	font-family: "Lato", Georgia, sans-serif;
	font-weight: 700;
	font-size: 2em;
	padding: 22px 20px;
}
#modelList .item#brandTitle span{
	font-family: "Lato", Georgia, sans-serif;
	font-weight: 300;
	font-size: .8em;
}
#modelList .list .item-content h2#modelName{
	font-size: 1.6em;
}

.detailpage #brandName h2{
	font-weight: bold;
	font-size: 1.2em; 
}

.detailpage #carDetail img{
	max-width: 100%;
	padding: 10px 20% 10px 20%;
}

/* calendar page */
.calendarpage{

}

.calendarpage .dayhighlight {
	background-color: #F7DFCD;
	border-top: 12px solid #FC7C7E;
}
.calendarpage .dayhighlight h2{
	color: #FC7C7E;
	font-size: 2rem;
	font-weight: 200;
}


